<html th:replace="base::layout(~{::section})">

<head>

</head>

<body>
	<section>

		<div class="row px-3 py-2 ">
			<div class="col-sm-12  py-4 bg-orange pb-5 mx-auto  " style="border-radius: 10px;">
				<h1 class="text-center text-white fw-bold">~About Us~</h1>
				<h3 class="text-center text-white">Welcome to EduTest Portal</h3>
				<hr>
				<h5 class="text-center">
					<a href="/">
						<i class="fa-solid fa-house home-icon"></i>
					</a>
				</h5>



			</div>


		</div>

		<div class="row px-3 py-2">
			<div class="col-sm-10 shadow-lg py-3 px-4 pb-5 mx-auto">
				<div class="row py-3">
					<div class="col-sm-8">
						<img alt="image not found" src="images/Aboutus.jpeg" height="100%" width="90%"
							style="border-radius: 10px;">


					</div>
					<div class="col-sm-4">


						<p>



							Welcome to <strong><span style="color: brown;">EduTest Portal</span></strong>, your trusted
							online examination platform designed to
							streamline the assessment process for educators and learners alike. Our mission is to
							provide a secure, user-friendly environment where students can demonstrate their
							knowledge and skills, while educators can easily create, manage, and evaluate
							assessments. With features such as real-time analytics, customizable question types, and
							robust security measures, we strive to enhance the learning experience and ensure the
							integrity of each examination.<strong> <span style="color: brown;"> Join us in
									revolutionizing the way assessments are
									conducted, making them accessible and efficient for all.</span></strong>
						</p>

					</div>


				</div>
				<div>

					</form>
					<style>
						.h1 {
							font-family: cursive;
						}

						.home-icon {
							display: inline-block;
							border: 1px solid;
							padding: 10px;
							border-radius: 6px;
							color: white;
							transition: 0.5s;
						}

						.home-icon:hover {
							transition: 0.5s;
							color: maroon;
							background-color: white;
							}
					</style>
	</section>
</body>

</html>